.accompagnements-container {
  width: 80%;
  margin: auto;
  margin-top: 70px;
  //background-color: #FFF1DC;
}

.accompagnement {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 1px;
  box-shadow: 5px 5px 9px grey;
}

.two-columns {
  display: grid;
  display: flex;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
}

.column {
  width: 40%;
  padding: 10px;
  display: flex;
  align-items: center;
}

.column-paragraph {
  width: 50%;
  padding: 10px;
  margin-right: 15px;
  margin-left: 30px;
  display: flex;
  justify-content:center;
  flex-direction: column;
}

.column-text {
  align-items:center;
  margin-top: 10px;
  text-align: justify;
  text-justify: inter-word;
}

.article-pic{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 9px grey;

}

.sub-text {
  font-style: oblique;
  font-size: small;
  font-weight: lighter;
}
