.accompagnements-container {
  width: 80%;
  margin: auto;
  margin-top: 70px;
}

.accompagnement {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 1px;
  box-shadow: 5px 5px 9px grey;
}

.two-columns {
  display: grid;
  display: flex;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
}

.column {
  width: 50%;
  padding: 10px;}
