// Specific CSS for your home-page

.container-homepage {
  width: 100%;
  margin: auto;
  margin-top: 30px;
}

.container-start {
  height: 50vh;
  background-color: #3A98B9;
  color: white;
}

.container-who {
  background-color: #FFF1DC;
  padding-bottom: 40px;
}

.container-what {
  background-color: #3A98B9;
  color: white;
  padding-bottom: 50px;
}

.container-references {
  background-color: #FFF1DC;
  padding-bottom: 40px;
}

.container-contact {
  height: 50vh;
  background-color: #3A98B9;
  color: white;
}

.text{
  width: 80%;
  margin: auto;
}

.offers{
  display: inline-flex;
  margin-left: 4%;
  margin-right: 4%;
  border:none;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #c3e0e0;
  margin: 2%;
  flex-direction: row;
  box-shadow: 3px 3px 15px rgba(0,0,0,0.3);
}

.offer{
  width: 33.3%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
    padding-top: 5%;
    font-family: $body-font;
    img {
      width: 350px;
      height: 250px;
    }
}

.middle-offer-borders {
  border-left: 1px solid $white;
  border-right: 1px solid $white;
}

.coaches {
  display: flex;
  position: relative;
  width: 100%;
  height: 433px;
}

.coach-pic {
  border-radius: 50%;
  height: 50%;
  box-shadow: 10px 5px 9px lightgray;
}

.coach {
  width: 100%;
  height: 50vh;
  transition: all 0.75s ease;
  transform-style: preserve-3d;
  background-color: white;
  text-align: center;
  box-shadow: 3px 3px 15px rgba(0,0,0,0.3);
  margin: 20px;
  border-radius: 5px;
}

.coach:hover {
  transform: rotateY(180deg);
}

.coach-text {
  color: black;
  margin: 10px;
  padding: 10px;
  text-align: justify;
  font-size: medium;
}

.front {
  text-align: center;
  transform: rotateY(360deg);
  /* This part controls the flip */
  backface-visibility: hidden;
  /* Size and card position */
  width: 100%;
  height: 100%;

  /* Appearance */
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.back {
  text-align: center;
  transform: rotateY(180deg);
  /* This part controls the flip */
  backface-visibility: hidden;
  /* Size and card position */
  position: absolute;
  width: 100%;
  height: 100%;

  /* Appearance */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.three-columns {
  display: grid;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  margin: auto;
}

.column-3 {
  width: 32%;
  padding: 20px;
  margin: 10px;
  background-color: white;
  box-shadow: 3px 3px 15px rgba(0,0,0,0.3);
  border-radius: 5px;
  text-align: justify;
}
