<div class = "accompagnements-container">
  <h1 class = "pt-5 mt-5"> Nos accompagnements </h1>
  <div class = "accompagnement">
    <h2 id= "visionning"> Visionning </h2>
    <div class = "two-columns">
      <div class = "column">
        <h4> Co-élaboration d'une vision partagée </h4>
        <p> Ce que nous appelons Vision comporte 6 niveaux, dont la cohérence est essentielle </p>
        <p> La contribution d’un maximum d’acteurs à la co-élaboration de cette Vision est un facteur
            puissant d’intelligence collective, d’appropriation et d’impact dans son déploiement. </p>
        <p> Nous facilitons cette démarche d’élaboration d’une Vision pour l’organisation en incluant
            selon les besoins : </p>
        <ul>
          <li> L'éco-système (partenaire, fournisseurs...) </li>
          <li> La déclinaison au niveau des entités internes (BU, fonction support, filliales...) </li>
        </ul>
      </div>
      <div class = "column">
        <h4> Les enjeux de développement durable au coeur </h4>
        <p> La montée en conscience des parties prenantes conjuguée à l’accélération des contraintes
            réglementaires positionnent les enjeux de développement durable au coeur de la Vision.
            Avec nos partenaires experts en Développement Durable (DD), nous organisons des
            workshops sur ces sujets avec 3 objectifs : </p>
        <ul>
          <li> Partager la situation actuelle en matière de ESG / RSE </li>
          <li> Identifier ensemble les principaux impacts stratégiques dans le futur sur les business
               model et les modes de fonctionnement </li>
          <li> Définir et partager les actions clés, en incluant l’enjeu de DD de manière transversale
               dans la macro-roadmap de l’organisation. </li>
        </ul>
      </div>
    </div>
  </div>
  <div class = "accompagnement">
    <h2 id= "leadership"> Leadership development </h2>
    <h3> Accompagnement d’équipes dirigeantes (Comex, Codir, associés, …) </h3>
    <p> La culture de leadership et de management est centrale dans la performance de
        l’organisation </p>
    <p> « La culture mange la stratégie au petit-déjeuner » Peter Drucker </p>
    <p> Les dirigeants sont très modélisants en termes de culture de leadership et de
        management ; ainsi l’évolution de cette culture et des comportements associés passe par
        la mise en mouvement et le cheminement des équipes dirigeantes (Comex / Codir / …). </p>
    <p> Nous accompagnons également des duos qui ont un mode de relation et un impact
        particulier, tels que : </p>
    <ul>
      <li> Fondateur /DG </li>
      <li> PDG / DG </li>
      <li> Directeur gestionnaire / Médecin-chef (milieu hospitalier) </li>
      <li> ... </li>
    </ul>
    <p> Notre accompagnement prend principalement trois formes : </p>
    <p> Des séminaires / temps forts (de 0,5 à 2 jours chacun), propices à la prise de recul, en
        combinant les 3 volets « ORF » : </p>
    <ul>
      <li> Opérations : travail sur la Vision et sur les enjeux opérationnels </li>
      <li> Régulation : partage des représentations et régulation des tensions </li>
      <li> Formation : apports de concepts et d’inputs sur les leadership et le management,
           adaptés aux enjeux, pour renforcer le partage d’un référentiel commun ; ouverture à
           des intervenants experts (développement durable, ...etc) </li>
    </ul>
    <p> Des processus d’assessment individuels pour développer les prises de conscience et
        mettre en mouvement: test (Hogan, Process com,...) + éventuellement un 360° + 2 à 3 séances de coaching </p>
    <p> Des sessions de coaching individuelles ou en duo (cf plus haut), en fonction des besoins </p>
    <h3> Renforcement du leadership du top management et des managers « moteurs » du
         changement </h3>
    <p> Le leadership individuel et collectif des managers s’appuie généralement sur un modèle de
        leadership et/ou des principes de management, que nous aidons à élaborer. </p>
    <p> Pour développer le leadership du top management et des managers « moteurs », nous
        proposons deux types d’accompagnement : </p>
    <ol>
      <li> <p> <strong> Des coachings individuels en nombre (approche systémique) </strong>, à partir du modèle de
          leadership, pour aller en profondeur sur « l’awareness « et avoir une approche surmesure
          par rapport aux enjeux de leadership spécifiques de chacun. </p>
          <p> Pour réaliser cette démarche nous constituons un corps de coachs dédié, soigneusement
          sélectionnés et dont nous nous portons garant, que nous animons en bonne intelligence
          avec les responsables chez le client. </p>
          <p> Des points réguliers sont organisés entre les coachs et le client pour partager, en toute
          confidentialité des coachings réalisés, sur l’avancement de la démarche et le reflet
          systémique qu’elle génère (qu’est-ce qui ressort de nos conversations de coaching sur
          l’organisation et la culture managériale ?) : il s’agit d’un apport global à forte valeur
          ajoutée, en complément des coachings individuels réalisés. </p>
          <p> L’expérience prouve que la réalisation de coachings individuels en nombre crée une
          dynamique de changement systémique, et génère des résultats concrets et visibles au
          niveau des modes de management et de leadership à l’échelle de l’organisation. </p>
      </li>
      <li> <p> <strong> Des parcours de leadership : </strong> ces parcours sont construits sur-mesure, et animés en
           fonction des enjeux qui émergent chez les participants. </p>
           <p> Ces parcours peuvent combiner différentes approches : <p>
           o Temps collectifs (10 à 20 participants) : ces modules, de 1 à 2 jours, conjuguent
           apports, mise en situation à partir d’enjeux vécus, méta-communication, …
           <p> o Groupes de pairs et co-développement </p>
           <p> o Coachings individuel
           <p> La singularité de ces parcours vient notamment de notre capacité à créer dès le démarrage un
           « safe space », un cadre de protection et de confiance qui permet de libérer la parole,
           partager les représentations et expérimenter en toute confiance, pour dépasser ses craintes
           et générer une nouvelle dynamique. </p>
           <p> Les bénéfices de ces parcours de leadership se situent à plusieurs niveaux : </p>
           <p> o Au niveau individuel : représentation enrichie de son rôle, ouverture des possibles,
           meilleure expression de son potentiel et de son leadership </p>
           <p> o Au niveau collectif : déploiement de modes de leadership et management partagés,
           création de liens et de cohésion forte dans chaque promotion et entre elles
           (constitution d’un réseau des alumni) qui favorisent la transversalité et l’intelligence
           collective. </p>
      </li>
    </ol>
    <h3> Executive coaching pour libérer le plein potentiel de chaque personne </h3>
    <h4> Le coaching individuel peut porter sur différents types d’enjeux, par exemple : </h4>
    <ul>
      <li>Coaching d’accompagnement dans la complexité (notamment pour les
          Dirigeants) </li>
      <li>Coaching de soutien dans des périodes difficiles, confiance en soi, </li>
      <li>Relations avec les N-1, N+1 et les pairs, </li>
      <li>Prise de poste et complexe de l’imposteur </li>
      <li>Capacité à mobiliser et à entrainer les équipes </li>
      <li>Renforcement du leadership, </li>
      <li>Résolution d’enjeux opérationnels et/ou de transformation, </li>
      <li>... </li>
    </ul>
    <h4> Nous avons en outre développé une expérience particulière dans le coaching des
         femmes appelées à prendre des postes à responsabilité (préparation à entrer dans un
         Codir/Comex ou prise de poste). </h4>
    <p> La prise de poste à haut niveau de responsabilité par une femme peut en effet générer
        un questionnement spécifique chez la personne concernée et son entourage, par
        exemple sur : </p>
    <ul>
      <li> Comment assumer et transformer le regard posé sur elle par les parties prenantes et par
           elle-même </li>
      <li> Les attentes qu’elle génère </li>
      <li> La reconnaissance de ses compétences managériales et de leadership </li>
      <li> Son équilibre vie privée/vie pro </li>
    </ul>
    <h4> Les modalités de coaching sont adaptées au besoin : </h4>
    <ul>
      <li> Un accompagnement au fil de l’eau (notamment pour les Dirigeants) </li>
      <li> 7 à 12 sessions incluant une tripartite de départ et de fin pour associer la personne N+1,
           et si possible la fonction RH, aux objectifs initiaux et au bilan de fin de coaching. </li>
    </ul>
  </div>
  <div class = "accompagnement">
    <h2 id= "transforming"> Transforming </h2>
    <div class = "two-columns">
      <div class = "column">
        <h4> Transversalité et intelligence collective </h4>
        <p> Les organisations ont souvent grandi autour des fonctions (Marketing, commercial, R&D,
            Production, supply chain, fonctions supports,…) favorisant des fonctionnement en silos.
            Elles disposent ainsi souvent d’un potentiel important et inutilisé de performance qui peut
            être activé via la capacité à co-élaborer, co-construire et co-agir.
            Cette transversalité est créatrice de valeur, aussi bien sur les aspects « business », « people »
            que de développement durable. </p>
        <p> Pour répondre à ces enjeux, nous accompagnons les organisations pour créer des démarches
            et des espaces favorisant la responsabilisation des acteurs, les échanges authentiques, la
            cohésion et la résolution des enjeux (Organisational Development) : </p>
        <ul>
          <li> Echange sur les perceptions réciproques entre fonctions/Métiers </li>
          <li> Proposition de solutions et de modes de collaboration plus efficaces </li>
          <li> ... </li>
        </ul>
        <p> Nous promouvons des démarches appréciatives (Appreciative Inquiry) qui permettent de
            focaliser l’attention sur une perspective souhaitée, les forces et atoûts de l’organisation et
            générer ainsi une dynamique positive qui permet de dépasser les résistances habituelles. </p>
      </div>
      <div class = "column">
        <h4> Coaching de pilotage </h4>
        <p> Il s’agit de coacher le/la chef de projet, ainsi que l’instance de décision en charge de la
            démarche, pour leur permettre de jouer leur rôle de manière optimale et de sécuriser la
            démarche. </p>
        <p> Ce coaching peut aborder différentes facettes, par exemple : <p>
        <ul>
          <li> Design de la démarche dans l’espace et dans le temps (gouvernance, structure des
               chantiers, …etc) / Aide à la définition des jalons clés </li>
          <li> Rôle respectif des acteurs clés </li>
          <li> Anticipation des risques </li>
          <li> Conduite du changement : enjeux et leviers d’action majeurs </li>
          <li> Posture du chef de projet, questionnements… </li>
          <li> ... </li>
        </ul>
        <p> Notre coaching de pilotage de la transformation s’appuie sur plus de 30 ans d’expérience et
            environ une quarantaine de transformations menées. </p>
      </div>
      <div class = "column">
        <h4> Accompagnement des agents du changement </h4>
        <p>Les agents du changements sont les personnes moteurs du changement : « ambassadeurs »,
           équipes ressources, équipes chantiers, managers en pointe, coachs internes, …
           Ils constituent un vecteur majeur de la transformation, car ils ont un impact à différents
           niveaux : </p>
        <ul>
          <li> Implication active dans la co-construction de solutions et leur mise en place </li>
          <li> Source d’innovation et de créativité, prêts à expérimenter </li>
          <li> Role-models dans les comportements collaboratifs, moteurs de l’intelligence collective </li>
          <li> Leadership en croissance </li>
          <li> ... </li>
        </ul>
        <p> Ces équipes ont un rayonnement et un effet mimétique très fort, augmentant ainsi
            considérablement les chances de succès de la transformation et permettant au mode de
            leadership souhaité de s’incarner à tous les niveaux de l’organisation. </p>
        <p> L’accompagnement de ces équipes d’agents du changement est clé pour les aider à
            grandir, notamment à travers différents aspects, en particulier : </p>
        <ul>
          <li> Poser un cadre ; Protections + Permissions = Puissance => en particulier que
               l’organisation valorise leur rôle et les appuie </li>
          <li> Former ces agents à la posture « ressource » et aux relations </li>
          <li> Créer une forte cohésion d’équipe, un « team building » dans la durée </li>
          <li> Les faire monter en « awareness » sur leur leadership </li>
          <li> Les superviser par rapport aux difficultés qu’ils rencontrent </li>
          <li> ... </li>
        </ul>
      </div>
    </div>
  </div>
</div>
