<div class = "convictions-container pb-5">
  <h1 class = "pt-5 mt-5"> Notre raison d'être et nos convictions </h1>
  <h2 class = "pt-5"> Notre raison d'être </h2>
  <p class = "pt-5"> <strong> Développer les capacités de leadership et de transformation des personnes et des organisations </strong>
                              afin de leur permettre d’évoluer dans la complexité et de libérer leur plein potentiel, en intégrant les
                              3 dimensions : People, Planet, Profit.* </p>
  <p> * 3P : concept défini par John Elkington </p>
  <h2> Quelques-unes de nos convictions à propos du leadership : </h2>
  <ul class ="pb-5">
    <li> <strong> Le leadership influe sur la culture, et celle-ci joue un rôle central dans la capacité de développement des
         organisations </strong> <br>
    “Culture eats strategy for breakfast” <strong> (Peter Drucker) </strong> </li> <br>
    <li> <strong>  Le leadership ne se décrète pas par un statut ou une volonté de puissance personnelle mais est lié pour
                   une large part à la capacité de présence à soi et aux autres, à l’accueil de ce qui émerge et à la
                   mobilisation des personnes au service du bien commun ; il devient alors un leadership régénératif. </strong> <br>
    <i class="fa-solid fa-arrow-right"></i> Le leader de type 5 (niveau ultime de leadership) manifeste de l’humilité en même temps qu’une grande ambition pour
    son organisation (<strong> Jim Collins </strong> dans son livre <strong> « Good to Great » </strong>) <br>
    <i class="fa-solid fa-arrow-right"></i> « D’un Ego-système à un Eco-système » <strong> (Otto Scharmer et Katrin Kaufer) </strong> </li> <br>
    <li> <strong> Les organisations sont vivantes </strong> car, in fine, une organisation est un ensemble d’êtres humains en
          relation. <br>
          <strong> Aussi, le potentiel de performance et de réinvention d’une organisation se mesure notamment en fonction de
          l’intensité, de l’ouverture et de la qualité des relations qui s’y déploient, à travers des conversations
          régénératives. </strong>
          <br >(cf notre article sur les Conversations, publié dans Les Echos Management & Leadership).
          « Rien n'est acquis définitivement. Il faut, pour maintenir un acquis, sans cesse le régénérer. Ce qui ce qui ne
          se régénère pas dégénère » <strong> (Edgar Morin) </strong> </li> <br>
    <li>  <strong> La capacité collective à se mouvoir de manière fluide dans la complexité, l’incertitude et les paradoxes
          est un facteur de réussite majeur au XXIème siècle. </strong> <br>
          “La pensée complexe est toujours sensible à l'incertitude, l'ambivalence, la contradiction, qui sont les ennemies
          de l'arrogance » <strong> (Edgar Morin) <strong> </li>
  </ul>
</div>
