<div class = "accompagnements-container">
  <h2 class = "pl-5 ml-5"> Leadership coaching & culture managériale </h2>
  <div class = "accompagnement pb-5">
    <div class = "two-columns pb-3">
      <div class = "column-paragraph">
        <h4> Accompagnement de la personne dirigeante </h4>
        <div class = "column-text">
          <p> Les Dirigeants ont des enjeux spécifiques liés à leur rôle, notamment : </p>
          <ul>
            <li> Intégrer les enjeux externes et internes autour des 3P (People, Planet, Profit), </li>
            <li> Manager les parties prenantes externes et internes </li>
            <li> Challenger les business modèles, </li>
            <li> Mobiliser par le sens, libérer et fédérer les énergies, </li>
            <li> Agir dans un environnement complexe, incertain et plein de paradoxes, </li>
            <li> Permettre aux personnes d’apprendre et de grandir </li>
          </ul>
          <p> <i class="fa-solid fa-arrow-right"></i> Le potentiel de changement de l’organisation est directement lié au
          potentiel d’évolution de ses dirigeants </p>
          <div class = "sub-text">
            <p>  Nous proposons aux dirigeant des executive coachs d’expérience, les accompagnant en « sparring partner »
            dans une relation de confiance, sur :
            <ul>
              <li> la globalité de leurs enjeux (business, humains, sociétaux, …) et la manière de naviguer dans la complexité </li>
              <li> leur alignement personnel « tête-cœur-tripes », leur présence à eux-mêmes et aux autres (« Presencing »),
              qui constituent le fondement de leur leadership. </li>
          </div>
        </div>
      </div>
      <div class = "column">
        <%= image_tag "vision.jpg", class:"article-pic" %>
      </div>
    </div>
    <div class = "two-columns pb-3">
      <div class = "column">
        <%= image_tag "vision.jpg", class:"article-pic" %>
      </div>
      <div class = "column-paragraph">
        <h4> Accompagnement des équipes dirigeantes (Comex, Codir, associés, duo PDG/DG, …) </h4>
        <div class = "column-text">
          <p> Les équipes dirigeantes ont un impact majeur à tous niveaux (managérial, économique, agilité
          organisationnelle, rayonnement, …). <br>
          Renforcer leur capacité à agir en « équipe performante » est donc essentiel. <br>
          Selon les besoins, l’accompagnement peut porter sur différents aspects : <br>
          <i> Place de chacun, ouverture, écoute, confiance, résolution de conflits, vision et priorités partagées,
          capacité à poser un cadre sécurisant et à entrainer les équipes, co-élaboration des solutions, incarnation
          des valeurs et de modes de leadership, … </i> </p>
          <div class = "sub-text">
            <p> Trois principes clés pour accompagner l’équipe dirigeante : </p>
            <ul>
              <li> La progression de l’équipe est jalonnée par des temps forts (séminaires, …), </li>
              <li> Chaque temps fort combine les trois volets « ORF » :</li>
              <ul>
                <li> Opérations : travail sur la Vision et les Opérations </li>
                <li> Régulation : partage des représentations, régulation des tensions, cohésion, </li>
                <li>  Formation/Inspiration : renforcement du leadership. </li>
              </ul>
              <li> Un processus d’assessment (test Hogan, Process com, ; 360° …) et de coachings individuels peut être
              proposé dans le cadre de cet accompagnement d’équipe </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class = "two-columns pb-3">
      <div class = "column-paragraph">
        <h4> Coaching systémique des managers / culture managériale </h4>
        <div class = "column-text">
          <p> Le leadership individuel et collectif des managers s’appuie généralement sur un modèle de leadership
          et/ou des principes de management qui constituent des repères partagés. </p>
          <p> Pour faire évoluer <strong> réellement </strong> la culture managériale et de leadership, nous proposons notamment deux
          types d’accompagnement qui ont prouvé leur efficacité :  </p>
          <ol>
            <li> <strong> Des coachings individuels en nombre du top management (top 20/50/100 : approche systémique) </strong> <br>
            <p> L’évolution du top management a un effet modélisant d’entrainement (« rippling effect ») sur l’ensemble
            des managers et collaborateurs. <br>
            Coacher individuellement les membres du top management génère une dynamique systémique profonde qui permet de
            vaincre l’inertie du système et de créer une nouvelle réalité. </p>
            <div class = "sub-text">
              <p> Au-delà des coaching individuels, l’équipe des coachs renvoie un miroir riche en enseignements fondé
              sur une vision synthétique des représentations et questionnements des personnes coachées, en préservant
              bien sûr la confidentialité requise. </p>
              <p> Notre expérience démontre l’impact puissant de cette approche qui peut être mesuré par exemple via des
              questionnaires post-coaching aux intéressés. </p>
            </div> </li>

            <li> <strong>  Des parcours de leadership : </strong> ces parcours, construits sur-mesure, développent
            « l’awareness », la qualité d’être et la maitrise des modes de leadership et de management adaptés aux enjeux
            clés (management hybride, niveau d’engagement autour d’un sens partagé, …). <br>
            Ils s’adressent aussi bien au top management, du fait de leur rôle modélisant, qu’à tout responsable
            « moteur » du changement.
              <div class = "sub-text">
                <p> Ces parcours de leadership s’articulent autour de : </p>
                <ul>
                  <li> Temps collectifs (10 à 20 participants) : modules, de 1 à 2 jours </li>
                  <li> Groupes de pairs et de co-développement </li>
                  <li> Coachings individuels </li>
                </ul>
                <p> Une de nos singularités est de savoir générer dès le démarrage un haut niveau de confiance et d’engagement,
                qui permet d’emblée de libérer la parole et d’expérimenter en profondeur. </p>
                <p> Momentum propose des dispositifs de mesure pour objectiver l’évolution de la culture managériale et des
                comportements associés. </p>
              </div>
            </li>
          </ol>
        </div>
      </div>
      <div class = "column">
        <%= image_tag "vision.jpg", class:"article-pic" %>
      </div>
    </div>
    <div class = "two-columns pb-3">
      <div class = "column">
        <%= image_tag "vision.jpg", class:"article-pic" %>
      </div>
      <div class = "column-paragraph">
        <h4>  Executive Coaching : libérer le plein potentiel </h4>
        <div class = "column-text">
          <p> Le coaching individuel peut porter sur différents types d’enjeux, par exemple : </p>
          <ul>
            <li> Prise de poste (et complexe de l’imposteur), </li>
            <li> Awareness, conscience de soi </li>
            <li> Management hybride (présentiel, distanciel) </li>
            <li> Relations avec les N-1, N+1 et les pairs, intelligence émotionnelle, </li>
            <li> Coaching de soutien, besoin de retrouver du sens, </li>
            <li> Capacité à développer et mobiliser les équipes, </li>
          </ul>
          <p>  Nous avons en outre développé une expérience particulière dans l’accompagnement des femmes appelées à
          prendre des postes à responsabilité de Direction / Direction générale (préparation ou prise de poste). <br>
          La prise de poste à haut niveau de responsabilité peut en effet générer un questionnement spécifique chez la
          femme concernée et son entourage par rapport :  </p>
          <ul>
            <li> au regard posé sur elle par les parties prenantes et par elle-même, </li>
            <li> aux attentes qu’elle génère, </li>
            <li> à son équilibre vie privée/vie pro, </li>
          </ul>
          <div class = "sub-text">
            <p> Nos approches d’executive coaching se font avec un niveau élevé d’exigence professionnelle et déontologique </p>
            <ul>
              <li> En général entre 7 et 12 sessions d’1h30 à 2h </li>
              <li> Partage de la charte de coaching Momentum en amont</li>
              <li> Tri-partite de démarrage et de fin pour inclure le N+1 et la fonction RH dans le processus, et
              permettre d’évaluer les avancées </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
