<div class = "accompagnements-container">
<div class = "accompagnement">
    <h2> Leadership coaching & culture managériale </h2>
    <h3> Accompagnement d’équipes dirigeantes (Comex, Codir, associés, …) </h3>
    <p> La culture de leadership et de management est centrale dans la performance de
        l’organisation </p>
    <p> « La culture mange la stratégie au petit-déjeuner » Peter Drucker </p>
    <p> Les dirigeants sont très modélisants en termes de culture de leadership et de
        management ; ainsi l’évolution de cette culture et des comportements associés passe par
        la mise en mouvement et le cheminement des équipes dirigeantes (Comex / Codir / …). </p>
    <p> Nous accompagnons également des duos qui ont un mode de relation et un impact
        particulier, tels que : </p>
    <ul>
      <li> Fondateur /DG </li>
      <li> PDG / DG </li>
      <li> Directeur gestionnaire / Médecin-chef (milieu hospitalier) </li>
      <li> ... </li>
    </ul>
    <p> Notre accompagnement prend principalement trois formes : </p>
    <p> Des séminaires / temps forts (de 0,5 à 2 jours chacun), propices à la prise de recul, en
        combinant les 3 volets « ORF » : </p>
    <ul>
      <li> Opérations : travail sur la Vision et sur les enjeux opérationnels </li>
      <li> Régulation : partage des représentations et régulation des tensions </li>
      <li> Formation : apports de concepts et d’inputs sur les leadership et le management,
           adaptés aux enjeux, pour renforcer le partage d’un référentiel commun ; ouverture à
           des intervenants experts (développement durable, ...etc) </li>
    </ul>
    <p> Des processus d’assessment individuels pour développer les prises de conscience et
        mettre en mouvement: test (Hogan, Process com,...) + éventuellement un 360° + 2 à 3 séances de coaching </p>
    <p> Des sessions de coaching individuelles ou en duo (cf plus haut), en fonction des besoins </p>
    <h3> Renforcement du leadership du top management et des managers « moteurs » du
         changement </h3>
    <p> Le leadership individuel et collectif des managers s’appuie généralement sur un modèle de
        leadership et/ou des principes de management, que nous aidons à élaborer. </p>
    <p> Pour développer le leadership du top management et des managers « moteurs », nous
        proposons deux types d’accompagnement : </p>
    <ol>
      <li> <p> <strong> Des coachings individuels en nombre (approche systémique) </strong>, à partir du modèle de
          leadership, pour aller en profondeur sur « l’awareness « et avoir une approche surmesure
          par rapport aux enjeux de leadership spécifiques de chacun. </p>
          <p> Pour réaliser cette démarche nous constituons un corps de coachs dédié, soigneusement
          sélectionnés et dont nous nous portons garant, que nous animons en bonne intelligence
          avec les responsables chez le client. </p>
          <p> Des points réguliers sont organisés entre les coachs et le client pour partager, en toute
          confidentialité des coachings réalisés, sur l’avancement de la démarche et le reflet
          systémique qu’elle génère (qu’est-ce qui ressort de nos conversations de coaching sur
          l’organisation et la culture managériale ?) : il s’agit d’un apport global à forte valeur
          ajoutée, en complément des coachings individuels réalisés. </p>
          <p> L’expérience prouve que la réalisation de coachings individuels en nombre crée une
          dynamique de changement systémique, et génère des résultats concrets et visibles au
          niveau des modes de management et de leadership à l’échelle de l’organisation. </p>
      </li>
      <li> <p> <strong> Des parcours de leadership : </strong> ces parcours sont construits sur-mesure, et animés en
           fonction des enjeux qui émergent chez les participants. </p>
           <p> Ces parcours peuvent combiner différentes approches : <p>
           o Temps collectifs (10 à 20 participants) : ces modules, de 1 à 2 jours, conjuguent
           apports, mise en situation à partir d’enjeux vécus, méta-communication, …
           <p> o Groupes de pairs et co-développement </p>
           <p> o Coachings individuel
           <p> La singularité de ces parcours vient notamment de notre capacité à créer dès le démarrage un
           « safe space », un cadre de protection et de confiance qui permet de libérer la parole,
           partager les représentations et expérimenter en toute confiance, pour dépasser ses craintes
           et générer une nouvelle dynamique. </p>
           <p> Les bénéfices de ces parcours de leadership se situent à plusieurs niveaux : </p>
           <p> o Au niveau individuel : représentation enrichie de son rôle, ouverture des possibles,
           meilleure expression de son potentiel et de son leadership </p>
           <p> o Au niveau collectif : déploiement de modes de leadership et management partagés,
           création de liens et de cohésion forte dans chaque promotion et entre elles
           (constitution d’un réseau des alumni) qui favorisent la transversalité et l’intelligence
           collective. </p>
      </li>
    </ol>
    <h3> Executive coaching pour libérer le plein potentiel de chaque personne </h3>
    <h4> Le coaching individuel peut porter sur différents types d’enjeux, par exemple : </h4>
    <ul>
      <li>Coaching d’accompagnement dans la complexité (notamment pour les
          Dirigeants) </li>
      <li>Coaching de soutien dans des périodes difficiles, confiance en soi, </li>
      <li>Relations avec les N-1, N+1 et les pairs, </li>
      <li>Prise de poste et complexe de l’imposteur </li>
      <li>Capacité à mobiliser et à entrainer les équipes </li>
      <li>Renforcement du leadership, </li>
      <li>Résolution d’enjeux opérationnels et/ou de transformation, </li>
      <li>... </li>
    </ul>
    <h4> Nous avons en outre développé une expérience particulière dans le coaching des
         femmes appelées à prendre des postes à responsabilité (préparation à entrer dans un
         Codir/Comex ou prise de poste). </h4>
    <p> La prise de poste à haut niveau de responsabilité par une femme peut en effet générer
        un questionnement spécifique chez la personne concernée et son entourage, par
        exemple sur : </p>
    <ul>
      <li> Comment assumer et transformer le regard posé sur elle par les parties prenantes et par
           elle-même </li>
      <li> Les attentes qu’elle génère </li>
      <li> La reconnaissance de ses compétences managériales et de leadership </li>
      <li> Son équilibre vie privée/vie pro </li>
    </ul>
    <h4> Les modalités de coaching sont adaptées au besoin : </h4>
    <ul>
      <li> Un accompagnement au fil de l’eau (notamment pour les Dirigeants) </li>
      <li> 7 à 12 sessions incluant une tripartite de départ et de fin pour associer la personne N+1,
           et si possible la fonction RH, aux objectifs initiaux et au bilan de fin de coaching. </li>
    </ul>
  </div>
</div>
