<div class = "accompagnements-container">
  <h2 class = "pl-5 ml-5"> Transforming </h2>
  <p class = "pl-5 ml-5"> Notre accompagnement de la transformation s’appuie sur plus de 30 ans d’expérience et environ une quarantaine de
  transformations accompagnées dans des secteurs d’activité variés. </p>
  <div class = "accompagnement pb-5">
    <div class = "two-columns pb-3">
      <div class = "column-paragraph">
        <h4> Transversalité et intelligence collective </h4>
        <div class = "column-text">
          <p> Dans de nombreuses situations, il est impératif de décloisonner les acteurs afin de s’écouter et
          construire ensemble le futur en intelligence collective, aussi bien à l’intérieur de l’organisation qu’en
          association avec l’ éco-système : <br>
          <i class="fa-solid fa-arrow-right"></i> Lorsqu’il y a un contexte business de rupture qui oblige à se transformer : <br>
          <i> Contexte de post-fusion et redynamisation des équipes, transformation de la chaine de valeur, lancement de
          nouvelles activités, transversalité accrue pour gagner en performance opérationnelle, nouveau cycle de croissance, … </i>  </p>
          <p> <i class="fa-solid fa-arrow-right"></i>  Lorsque des évolutions sociétales amènent à faire évoluer, voire
          réinventer, les modes de travail : <br>
          <i> Travail hybride, équilibre vie pro/vie privée, attraction et fidélisation des talents, management
          inter-générationnel, place des femmes dans les rôles à responsabilité, … </i> </p>
          <div class = "sub-text">
            <p>  Nous accompagnons les organisations par des méthodes éprouvées qui permettent d’activer les prises de
            conscience, l’intelligence collective, la prise de décisions et l’obtention de résultats tangibles. <br>
            Pour cela, nous déployons notamment trois types d’approches : </p>
            <ul>
              <li> Organisational Development, </li>
              <li> Approche appréciative (Appreciative Inquiry), </li>
              <li> Process Work </li>
            </ul>
            <p> Une condition clé de réussite est de créer le cadre qui assure sécurité et protection aux participants
            afin de libérer la parole et générer une forte dynamique d’empowerment, tout en favorisant la priorisation
            et la prise de décision, ainsi que le passage à l’action. <br>
            La formule suivante résume cette condition de réussite : <br>
            Protections + Permissions = Puissance </p>
          </div>
        </div>
      </div>
      <div class = "column">
        <%= image_tag "vision.jpg", class:"article-pic" %>
      </div>
    </div>
    <div class = "two-columns pb-3">
      <div class = "column">
        <%= image_tag "vision.jpg", class:"article-pic" %>
      </div>
      <div class = "column-paragraph">
        <h4> Accompagnement des agents du changement </h4>
        <div class = "column-text">
          <p> Les agents du changement sont les moteurs du changement : « ambassadeurs », équipes ressources, managers en
          pointe du changement, coachs internes, … <br>
          Leur rôle est majeur : co-constructeurs des solutions et role-models des comportements à promouvoir. </p>
          <div class = "sub-text">
            <p>  L’accompagnement de ces équipes ressource porte sur différents aspects : </p>
            <ul>
              <li> Cadre qui génère de l’engagement: Protections + Permissions = Puissance </li>
              <li> Posture « ressource », </li>
              <li> Cohésion d’équipe dans la durée, </li>
              <li> Montée en « awareness » sur leur rôle et leur leadership, </li>
              <li> Supervision par rapport aux difficultés qu’ils rencontrent </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class = "two-columns pb-3">
      <div class = "column-paragraph">
        <h4> Coaching de pilotage </h4>
        <div class = "column-text">
          <p>  Il s’agit de coacher le/la chef de projet, ainsi que l’instance de pilotage en charge de la démarche,
          pour leur permettre de jouer leur rôle de manière optimale et de sécuriser la démarche (design de la démarche,
          gouvernance, rôles, anticipation et prévention des risques, conduite du changement, posture des acteurs clés, ....) </p>
        </div>
      </div>
      <div class = "column">
        <%= image_tag "durable.jpg", class:"article-pic" %>
      </div>
    </div>
  </div>
</div>
