<div class = "accompagnements-container">
  <h2 class = "pl-5 ml-5"> Transforming </h2>
  <p class = "pl-5 ml-5"> Notre accompagnement de la transformation s’appuie sur plus de 30 ans d’expérience et environ une quarantaine de
  transformations accompagnées dans des secteurs d’activité variés. </p>
  <div class = "accompagnement pb-5">
    <div class = "two-columns pb-3">
      <div class = "column-paragraph">
        <h4> Transversalité et intelligence collective </h4>
        <div class = "column-text">
          <p>  Dans de nombreuses situations, il est impératif de décloisonner les acteurs, aussi bien dans l’organisation
          qu’entre celle-ci et son éco-système : <br>
          post-fusion et redynamisation des équipes, chaine de valeur et développement durable, lancement d’activités,
          transformation des modes de travail et réorganisation, …. <br>
          Ces enjeux nécessitent davantage de co- : co-opérer, co-élaborer et co-agir.   </p>
          <p>  Nous accompagnons les organisations par des méthodes éprouvées qui permettent d’activer les prises de
          conscience, l’intelligence collective, la prise de décisions et l’obtention de résultats tangibles. <br>
          Pour cela, nous déployons notamment trois types d’approches : </p>
          <ul>
            <li> Organisational Development, </li>
            <li> Approche appréciative (Appreciative Inquiry), </li>
            <li> Process Work </li>
          </ul>
        </div>
      </div>
      <div class = "column">
        <%= image_tag "vision.jpg", class:"article-pic" %>
      </div>
    </div>
    <div class = "two-columns pb-3">
      <div class = "column">
        <%= image_tag "durable.jpg", class:"article-pic" %>
      </div>
      <div class = "column-paragraph">
        <h4> Coaching de pilotage </h4>
        <div class = "column-text">
          <p>  Il s’agit de coacher le/la chef de projet, ainsi que l’instance de pilotage en charge de la démarche,
          pour leur permettre de jouer leur rôle de manière optimale et de sécuriser la démarche (design de la démarche,
          gouvernance, rôles, anticipation et prévention des risques, conduite du changement, posture des acteurs clés, ....) </p>
        </div>
      </div>
    </div>
    <div class = "two-columns pb-3">
      <div class = "column-paragraph">
        <h4> Accompagnement des agents du changement </h4>
        <div class = "column-text">
          <p> Les agents du changement sont les moteurs du changement : « ambassadeurs », équipes ressources, managers en
          pointe du changement, coachs internes, … <br>
          Leur rôle est majeur : co-constructeurs des solutions et role-models des comportements à promouvoir. </p>
          <p>  L’accompagnement de ces équipes ressource porte sur différents aspects : </p>
          <ul>
            <li> Cadre qui génère de l’engagement: Protections + Permissions = Puissance </li>
            <li> Posture « ressource », </li>
            <li> Cohésion d’équipe dans la durée, </li>
            <li> Montée en « awareness » sur leur rôle et leur leadership, </li>
            <li> Supervision par rapport aux difficultés qu’ils rencontrent </li>
          </ul>
        </div>
      </div>
      <div class = "column">
        <%= image_tag "vision.jpg", class:"article-pic" %>
      </div>
    </div>
  </div>
</div>
