<div class = "accompagnements-container">
  <h2 class = "pl-5 ml-5" > Visionning </h2>
  <div class = "accompagnement pb-5" >
    <div class = "two-columns pb-3">
      <div class = "column-paragraph">
        <h4> Vision partagée </h4>
        <div class = "column-text">
          <p> Par Vision nous entendons 6 niveaux reliés entre eux de manière cohérente. </p>
          <p> La contribution des acteurs de l’entreprise à la co-élaboration et au déploiement de cette Vision est un facteur
              puissant d’intelligence collective, d’appropriation et d’impact des actions menées. </p>
          <p> Cette démarche sur la Vision relève de l’organisation ainsi que de son éco-système
              (clients, partenaires, fournisseurs, …). </p>
        </div>
      </div>
      <div class = "column">
        <%= image_tag "vision.jpg", class:"article-pic" %>
      </div>
    </div>
    <div class = "two-columns">
      <div class = "column">
        <%= image_tag "durable.jpg", class:"article-pic" %>
      </div>
      <div class = "column-paragraph">
        <h4> Enjeux de Développement Durable </h4>
        <div class = "column-text">
          <p> La montée en conscience des parties prenantes (états, clients, fournisseurs, investisseurs, …), conjuguée à
              l’accélération des contraintes réglementaires, positionnent désormais les enjeux de développement durable au
              cœur des business modèles. </p>
          <p> C’est pourquoi, avec nos partenaires experts en Développement Durable, Momentum vous accompagne sur 3 axes : </p>
          <ul>
            <li> Etablir un diagnostic partagé de la situation actuelle en matière de ESG / RSE </li>
            <li>  Anticiper les enjeux stratégiques et opérationnels sur ces sujets, et des pistes de solutions par rapport aux
                  business modèles (économie circulaire, …) </li>
            <li>  Définir les conditions de succès, notamment au niveau du mode de leadership et de la gouvernance pour mobiliser
                  tous les acteurs dans la même direction. </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
