
// container
.navbar-momentum {
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 1px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: darkgray;
  border-style: solid;
}

// brand logo
.navbar-logo {
  height: 4%;
  width: 6%;
}
// tablets onward text is larger
@media screen and (min-width: 500px) {
  .menu-item {
    a {
      font-size: x-large;
    }
  }
}
